DXApplication1/WcfClient/Connected Services/NewsService/NewsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NewsService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:35395/NewsService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:35395/NewsService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:35395/NewsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ADP_HomeWork.DataBase.Tables" />
      <xsd:import schemaLocation="http://localhost:35395/NewsService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="INewsService_GetLast10_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLast10" />
  </wsdl:message>
  <wsdl:message name="INewsService_GetLast10_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLast10Response" />
  </wsdl:message>
  <wsdl:message name="INewsService_GetSimilar_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSimilar" />
  </wsdl:message>
  <wsdl:message name="INewsService_GetSimilar_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSimilarResponse" />
  </wsdl:message>
  <wsdl:message name="INewsService_GetBestPositive_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBestPositive" />
  </wsdl:message>
  <wsdl:message name="INewsService_GetBestPositive_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBestPositiveResponse" />
  </wsdl:message>
  <wsdl:message name="INewsService_GetBestNegative_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBestNegative" />
  </wsdl:message>
  <wsdl:message name="INewsService_GetBestNegative_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBestNegativeResponse" />
  </wsdl:message>
  <wsdl:message name="INewsService_AddRank_InputMessage">
    <wsdl:part name="parameters" element="tns:AddRank" />
  </wsdl:message>
  <wsdl:message name="INewsService_AddRank_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddRankResponse" />
  </wsdl:message>
  <wsdl:portType name="INewsService">
    <wsdl:operation name="GetLast10">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsService/GetLast10" message="tns:INewsService_GetLast10_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsService/GetLast10Response" message="tns:INewsService_GetLast10_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSimilar">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsService/GetSimilar" message="tns:INewsService_GetSimilar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsService/GetSimilarResponse" message="tns:INewsService_GetSimilar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBestPositive">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsService/GetBestPositive" message="tns:INewsService_GetBestPositive_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsService/GetBestPositiveResponse" message="tns:INewsService_GetBestPositive_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBestNegative">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsService/GetBestNegative" message="tns:INewsService_GetBestNegative_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsService/GetBestNegativeResponse" message="tns:INewsService_GetBestNegative_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddRank">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsService/AddRank" message="tns:INewsService_AddRank_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsService/AddRankResponse" message="tns:INewsService_AddRank_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_INewsService" type="tns:INewsService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLast10">
      <soap:operation soapAction="http://tempuri.org/INewsService/GetLast10" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSimilar">
      <soap:operation soapAction="http://tempuri.org/INewsService/GetSimilar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBestPositive">
      <soap:operation soapAction="http://tempuri.org/INewsService/GetBestPositive" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBestNegative">
      <soap:operation soapAction="http://tempuri.org/INewsService/GetBestNegative" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRank">
      <soap:operation soapAction="http://tempuri.org/INewsService/AddRank" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NewsService">
    <wsdl:port name="BasicHttpBinding_INewsService" binding="tns:BasicHttpBinding_INewsService">
      <soap:address location="http://localhost:35395/NewsService.svc/NewsService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>