DXApplication1/WcfClient/Connected Services/NewsService/NewsService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ADP_HomeWork.DataBase.Tables" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ADP_HomeWork.DataBase.Tables" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:35395/NewsService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfNews">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="News" nillable="true" type="tns:News" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNews" nillable="true" type="tns:ArrayOfNews" />
  <xs:complexType name="News">
    <xs:sequence>
      <xs:element minOccurs="0" name="Abstract" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AgencyID" type="xs:int" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="ImagePath" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Ranking" nillable="true" type="q1:ArrayOfint" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalReads" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="News" nillable="true" type="tns:News" />
</xs:schema>